/* ---------Animation for category buttons------------ */

@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Open Sans Condensed", sans-serif;
  overflow-y: scroll;
}

div[class*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background-color: #ff6600;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-two {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}

.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

/* ---------------------------------------- */

body {
  background-color: #0fa39e;
}

/* -----------Animation for search box------ */

.search {
  /* justify-content: space-around; */
  padding: 10px;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.searchTerm {
  /* width: 100%; */
  border: 3px solid #bc87e8;
  padding: 0.75rem 1rem;
  margin: 0.25rem;
  width: 50%;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  background-color: #caf0f8;
  box-shadow: 1px 1px black;
}

.searchButton {
  padding: 0.75rem 1rem;
  margin: 0.25rem;
  width: 10%;
  height: 60px;
  border: 1px solid #00b4cc;
  background-color: #00ff73;
  text-align: center;
  letter-spacing: 3px;
  color: black;
  /* border-radius: 0 5px 5px 0; */
  cursor: pointer;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  /* font-family: "Permanent Marker", cursive; */
  text-transform: uppercase;
  box-shadow: 1px 1px black;
  font-weight: bold;
}

/* ---------------------------------- */
div .logo {
  /* display: block; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem;
  width: 100%;
  margin-top: -1rem;
}

.img-logo {
  grid-column: 3 / 5;
}

button {
  outline: none;
  background-color: #00ff73;
  box-shadow: none;
  color: #ff6600;
  font-size: 1rem;
}

.links {
  font-size: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 2px #00ff73;
}

.kemistry {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  min-height: auto;
  list-style: none;
  margin: 1rem;
  font-size: 40px;
  /* text-decoration: underline; */
  text-decoration: none;
  color: #034d4f;
  font-family: "Permanent Marker", cursive;
  text-shadow: 2px 2px black;
}

.nav a p {
  color: #00ff73;
}

.nav a {
  text-decoration: none;
}

.gallerylist {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 30px;
}

.gallerylist a {
  text-transform: none;
  color: black;
  text-decoration: none;
}

.gallerycard {
  display: flex;
  flex-direction: column;
  background-color: #caf0f8;
}
.gallerycard img {
  width: 100%;
}
section {
  padding: 20px;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: bold;
}
h6 {
  font-size: 20px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 40px;
  letter-spacing: 12px;
  color: #00ff73;
  text-shadow: 5px 5px black;
  text-transform: uppercase;
}

.gallerycard p {
  margin: 0 auto;
  color: rgba(58, 15, 72, 0.269);
  display: inline;
  padding-right: 40px;
  font-weight: bold;
}

.projectdetail {
  text-align: center;
  padding-bottom: 70px;
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #00ff73;
  margin: 0;
  padding-top: 50px;
}
.projectdetail h3 {
  color: white;
  letter-spacing: 10px;
  padding-bottom: 40px;
}
.projectdetail p {
  font-size: 30px;
  margin: 0 30%;
}
.projectdetail h5 {
  color: #00ff73;
  font-size: 25px;
}
.projectdetail li {
  font-size: 18px;
  padding-bottom: 6px;
}
iframe {
  width: 100%;
  height: 100vh;
}
.projectbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40%;
}
.projectbuttons button {
  font-family: "Permanent Marker", cursive;
  text-shadow: none;
  color: #00ff73;
  background-color: #ff6600;
  text-shadow: 2px 2px black;
  border: none;
  padding: 20px;
  margin-bottom: 80px;
}
.materials {
  list-style: none;
}

.foot-container {
  left: 0;
  bottom: 0;
}
.foot-container img {
  height: 40px;
  padding-right: 10px;
}

.submitForm {
  display: flexbox;
  flex-direction: column;
}
